<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
<!-- SimBot Default Base Template
     Copy to base.local.tmpl before editing -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SimBot &raquo; <TMPL_VAR NAME=title></title>
<style type="text/css">
h1 {
    text-shadow: 4px 4px 5px #AAA;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
}

#content { margin: 1em 0; }

#footer {
    border-top: 1px solid #000;
    margin-top: 0;
}
</style>
</head><body>
<h1><TMPL_VAR NAME=title></h1>
<div id="content">
<TMPL_VAR NAME=content>
</div>
<div id="footer">
We probably don’t have standards compliance yet, but it’s
<a href="http://validator.w3.org/check?uri=referer">worth a shot</a>.<br/>
<a href="<TMPL_VAR ESCAPE=HTML NAME=sb_link>"><TMPL_VAR NAME=sb_version></a>
</div>

</body>
</html>
