<!-- SimBot Default IRC Log template
     Copy to irclog.local.tmpl before editing -->
     
<h4>IRC log for <TMPL_VAR NAME=channel> from <TMPL_VAR NAME=start_time> to
<TMPL_VAR NAME=end_time>.</h4>

<TMPL_LOOP NAME=ircloop>
    <div class="row <TMPL_VAR NAME=event>">
        <span class="ts"><TMPL_VAR NAME=timestamp></span>
        <span class="msg"><TMPL_IF EXPR="event eq 'SAY'">
                &lt;<span class="nick"><TMPL_VAR NAME=source_nick></span>&gt; <TMPL_VAR NAME=content>
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'NOTICE'">
                -<span class="nick"><TMPL_VAR NAME=source_nick></span>- <TMPL_VAR NAME=content>
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'ACTION'">
                • <span class="nick"><TMPL_VAR NAME=source_nick></span> <TMPL_VAR NAME=content>
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'JOINED'">
                → <span class="nick"><TMPL_VAR NAME=source_nick></span> joined.
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'PARTED'">
                ← <span class="nick"><TMPL_VAR NAME=source_nick></span> left.
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'QUIT'">
                ← <span class="nick"><TMPL_VAR NAME=source_nick></span> quit IRC. (<TMPL_VAR NAME=content>)
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'TOPIC'">
                ✴ <span class="nick"><TMPL_VAR NAME=source_nick></span> set the topic to: <TMPL_VAR NAME=content>
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'MODE'">
                ❖ <span class="nick"><TMPL_VAR NAME=source_nick></span> set mode <TMPL_VAR NAME=content>
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'KICKED'">
                ✖ <span class="nick"><TMPL_VAR NAME=target_nick></span> was kicked by <span class="nick"><TMPL_VAR NAME=source_nick></span> (<TMPL_VAR NAME=content>)
            <TMPL_ELSE><TMPL_IF EXPR="event eq 'NICK'">
                ⊜ <span class="nick"><TMPL_VAR NAME=source_nick></span> is now known as <span class="nick"><TMPL_VAR NAME=target_nick></span>.
            </TMPL_IF></TMPL_IF></TMPL_IF></TMPL_IF></TMPL_IF></TMPL_IF>
            </TMPL_IF></TMPL_IF></TMPL_IF></TMPL_IF></span>
    </div>
</TMPL_LOOP>

<!-- End irclog -->