<!-- SimBot Default nick statistics template
     Copy to nick_stats.local.tmpl before editing -->
<h4>Activity by Hour <TMPL_VAR NAME=timezone></h4>
<table id="hourgraph">
<tr valign="bottom" id="hourgraphrow">
<TMPL_LOOP NAME=hourloop>
    <td>
    <div class="hour<TMPL_VAR NAME=hour>" style="height: <TMPL_VAR NAME="percent">%;">&nbsp;</div></td>
</TMPL_LOOP>
</tr>
<tr>
<td>00</td><td>01</td><td>02</td><td>03</td><td>04</td><td>05</td><td>06</td>
<td>07</td><td>08</td><td>09</td><td>10</td><td>11</td><td>12</td>
<td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
<td>20</td><td>21</td><td>22</td><td>23</td>
</tr>
</table>

<h4>Misc Statistics</h4>

<TMPL_IF NAME=say_count>
    <div class="linecount"><TMPL_VAR NAME=nick> has spoken <TMPL_VAR NAME=say_count> times, most recently saying:<br/>
    <TMPL_VAR NAME=say_content>
    </div>
</TMPL_IF>

<TMPL_IF NAME=action_count>
<div class="linecount"><TMPL_VAR NAME=nick> has emoted <TMPL_VAR NAME=action_count> times, most recently:<br/>
• <TMPL_VAR NAME=nick> <TMPL_VAR NAME=action_content>
</div>
</TMPL_IF>

<TMPL_IF NAME=topic_count>
<div class="linecount"><TMPL_VAR NAME=nick> has set the topic <TMPL_VAR NAME=topic_count> times, most recently changing it to:<br/>
<TMPL_VAR NAME=topic_content>
</div>
</TMPL_IF>

<TMPL_IF NAME=kick_others_count>
<div class="linecount"><TMPL_VAR NAME=nick> has kicked others <TMPL_VAR NAME=kick_others_count> times, most recently kicking <TMPL_VAR NAME=kick_others_target> with the reason <q><TMPL_VAR NAME=kick_others_content></q>
</div>
</TMPL_IF>


<TMPL_IF NAME=kicked_count>
<div class="linecount"><TMPL_VAR NAME=nick> has been kicked <TMPL_VAR NAME=kicked_count> times, most recently by <TMPL_VAR NAME=kicked_by> with the reason <q><TMPL_VAR NAME=kicked_content></q>
</div>
</TMPL_IF>

<!-- End nick_stats -->